[data-theme="dark"] {
  --background: #181D31;
  --color: white;
  --background-inner: #6D67E4;
  --border: white;
  --background-hover: white;
  --color-hover: black;
  --background-button: white;
  --color-button: black;
}

[data-theme="light"] {
  --background: white;
  --color: '#181D31';
  --background-inner: white;
  --border: #6D67E4;
  --background-hover: black;
  --color-hover: white;
  --background-button: black;
  --color-button: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--color);
}

body {
  font-family: 'Inter', sans-serif;
  width: 30%;
  margin: auto;
  background-color: var(--background);

}

@media only screen and (max-width: 800px) {
  body {
    width: calc(100% - 30px);
  }
}

.note-item {
  border: 1px solid var(--border);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-inner);
  color: var(--color);
  text-decoration: none;
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
}

.note-item .list {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.note-item__empty {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: var(--color);
}

.note-item__empty img {
  width: 300px;
  height: auto;
  text-align: center;
  display: block;
  margin: auto;
}

.note-item.detail {
  height: 400px;
  position: relative;
}

.note-item.detail .actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  grid-gap: 20px;
}

.note-item:hover {
  background-color: var(--background-hover);
  color: var(--color-hover);
  cursor: pointer;
}

.note-item:hover .note-item__body {
  color: var(--color-hover);
}

.note-item__title {
  font-size: 14px;
}

.note-item__createdAt {
  font-size: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.note-item__body {
  font-size: 12px;
  margin-bottom: 5px;
}

.page-404 img {
  width: 300px;
  text-align: center;
}

.page-404 {
  margin: auto;
  width: fit-content;
  line-height: 100vh;
}

.form {
  width: 100%;
  height: 100%;
  margin: 30px auto;
}

.form-item {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.form-item label {
  font-size: 12px;
  color: var(--color);
  margin-bottom: 10px;
  display: block;
}

.form-item input {
  font-size: 12px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding-left: 10px;
}

p.form-item.link {
    margin-top: 20px;
}

.title {
  width: 100%;
  text-align: center;
  margin-top:30px;
  color: var(--color);
}

.form-item button {
  width: 100%;
  background-color: var(--background-button);
  color: var(--color-button);
  padding: 10px;
  cursor: pointer;
}
